{% extends 'base.html' %}

{% block title %}Seja Bem Vindo ao Simple GP {% endblock %}
{% block main %}


        <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
                <h1>Seja Bem Vindo ao Simple GP</h1>
                {% if user.is_authenticated %}
                     <p>Olá {{ user.username}}</p>
                    <a href="{% url 'logout' %}">Sair</a>
                    {% else %}
                     <a href="{% url 'login' %}">Entrar</a>
                {% endif%}
        </div>
        <div class="col-sm">

        </div>
        </div>


{% endblock %}