{% extends 'base.html' %}
{% load bootstrap %}



{% block title %}Cadastro Servidor{% endblock %}

{% block main %}
    <h3>Cadastro Novo Servidor</h3>
    <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

         <div class="form-group">
            {{ form|bootstrap }}
          <button class="btn btn-success" type="submit">Salvar</button>
          <a href="{% url 'lista' %}" class="btn btn-danger">Cancelar</a>
         </div>


    </form>
{% endblock %}

{% block footer %}

{% endblock %}



