{% extends 'base.html' %}

{% block title %}Lista Servidores{% endblock %}
{% block main %}

     <h1 class="display-2">Olá {{user.username}}</h1>



        <a href="{% url 'logout'%}">
                <span class="badge badge-pill badge-dark">Sair</span>
        </a>
        <ul class="list-group">
            <li class="list-group-item active">Lista de servidores Campus São Borja</li>
            {% for servidor in servidores %}

            <li class="list-group-item">
                <a >{{servidor.nome}} {{servidor.sobrenome}}</a>
                <a href="{% url 'url_atualizar' servidor.id_unica %}" >
                    <i class="far fa-edit" ></i>
                </a>
                <a href="{% url 'url_deletar' servidor.id_unica %}" class="trash-item">
                <i class="far fa-trash-alt"></i>
                </a>
            </li>

            {% endfor %}
            <a type="button" class="btn btn-primary" href="{% url 'url_cadastro'%}">Novo Cadastro</a>

        </ul>
{% endblock %}


