{% extends 'cabecalho.html' %}
{% load bootstrap %}

{% block title %}Histórico de Progressões{% endblock %}


{% block main %}

<!-- Page Header-->

<!-- Page Header-->

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">


            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i>
                            </button>
                            <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a
                                    href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a
                                    href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                </div>

                <div class="card-body text-right">
                    {% if object.foto.url != None %}
                    <div class="client-avatar"><img src="{{object.foto.url}}" alt="..."
                                                    class="img-fluid rounded-circle img-thumbnail"
                                                    style="
                                                                    height:200px;
                                                                    width:auto;
                                                                    border-radius: 10px 70px !important;">
                    </div>
                    {% endif %}


                    <div class="client-title">
                        <h3> {{object.nome}} {{object.sobrenome}}</h3>
                        <p>{{object.categoria}}</p>
                        {% if object.cargo == None %}
                        <span>Área: {{object.area}} </span>
                        {% else %}
                        <span>{{object.cargo}} </span>
                        {% endif %}


                    </div>
                </div>

                <div class="card-body text-left">
                    <h3>Conforme <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/lei/l12772.htm" target="_blank">Lei nº. 12.772/2012</a></h3>

                    <p class="blockquote">
                        {% if object.categoria.id == 'TAE' %}

                        {% elif object.categoria.id  == 'DOC' %}
                        <p>Art. 12.  O desenvolvimento na Carreira de Magistério Superior ocorrerá mediante <b>progressão funcional e promoção</b>.
                        <p>§ 1o  Para os fins do disposto no caput, progressão é a passagem do servidor para o nível de vencimento imediatamente superior dentro de uma mesma classe, e promoção, a passagem do servidor de uma classe para outra subsequente, na forma desta Lei.
                        </p>
                        <p>§ 2o  A progressão na Carreira de Magistério Superior ocorrerá com base nos critérios gerais estabelecidos nesta Lei e observará, cumulativamente:
                        </p>I - o cumprimento do interstício de 24 (vinte e quatro) meses de efetivo exercício em cada nível; e</p>
                        <p>II - aprovação em avaliação de desempenho.</p>
                        § 3o  A promoção ocorrerá observados o interstício mínimo de 24 (vinte e quatro) meses no último nível de cada Classe antecedente àquela para a qual se dará a promoção e, ainda, as seguintes condições:</p>
                        <p>Art. 13.  Os docentes aprovados no estágio probatório do respectivo cargo que atenderem os seguintes requisitos de titulação farão jus a processo de aceleração da promoção:
                        <p>(Redação dada pela <a href="">Lei nº 12.863</a>, de 2013)</p>
                        <p>(...)</p>

                        <p>Parágrafo único.  Aos servidores ocupantes de cargos da Carreira de Magistério Superior em 1o de março de 2013 ou na data de publicação desta Lei, se posterior, é permitida a aceleração da promoção de que trata este artigo ainda que se encontrem em estágio probatório no cargo.
                        </p>
                        <p>Art. 13-A.  O efeito financeiro da progressão e da promoção a que se refere o caput do art. 12 ocorrerá a partir da data em que o docente cumprir o interstício e os requisitos estabelecidos em lei para o desenvolvimento na carreira.       (Incluído pela Lei nº 13.325, de 2016)</p>
                        </p>

                        {% endif %}

                    </blockquote>

                </div>

            </div>
        </div>
    </div>
</section>


<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">

            <div class="card col-xs-12 col-sm-12">
                <div class="card-body">
                    <h3 class="card-title">{{ tipo_progressao_a}}</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                {% if object.categoria.id  == 'DOC' %}
                                <th>Classe/Nível</th>
                                {% else %}
                                <th>Nível Capacitação</th>
                                {% endif %}
                                <th>Data</th>
                                <th>Portaria</th>
                                <th>Data Prevista Próxima Progressão</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for prog_a in progressoes_a %}
                            <tr>
                                {% if object.categoria.id  == 'DOC' %}
                                <td>Classe D{{prog_a.classe_docente}} / Nível {{prog_a.nivel_docente}}</td>
                                {% else %}
                                <td>{{ prog_a.nivel_capacitacao }}</td>
                                {% endif %}
                                <td>{{ prog_a.data_progressao }}</td>
                                <td><a href="{{prog_a.portaria__portaria.url}}" target="_blank">{{prog_a.portaria}}</a></td>
                                <td>{{ prog_a.data_prox_progressao}}</td>
                            </tr>
                            {%empty%}
                            <tr >Ainda não há registros!</tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if object.categoria.id == 'TAE' %}

            <div class="card col-xs-12 col-sm-12">
                <div class="card-body">
                    <h3 class="card-title">{{ tipo_progressao_b}}</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Padrão de Vencimento</th>
                                <th>Data</th>
                                <th>Portaria</th>
                                <th>Data Próxima Progressão</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for prog_b in progressoes_b %}
                            <tr>
                                <td>{{ prog_b.padrao_tae }}</td>
                                <!--if-->
                                <td>{{ prog_b.data_progressao }}</td>
                                <td><a href="({prog_b.portaria__portaria.url}}" target="_blank">{{prog_b.portaria}}</a></td>
                                <td>{{ prog_b.data_prox_progressao}}</td>
                            </tr>
                            {%empty%}
                            <tr><p class="alert alert-warning">Ainda não há registros!</p></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% endif %}


        </div>
    </div>
</section>


{% endblock %}

