{% extends 'cabecalho.html' %}
{% load bootstrap %}
{% load static %}


{% block title %}Ficha Servidor{% endblock %}


{% block main %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">

            <!-- Form Elements -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"
                                    class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a
                                    href="#"
                                    class="dropdown-item remove">
                                <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                                    class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Ficha Servidor</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal">

                            <div class="row">
                                <div class="col col-xs-12 col-sm-5 col-md-4 col-lg-3 col-sm-order-last">
                                    <div class="card">
                                        <div class="card-body text-sm-right">
                                        {% if servidor.foto.url != None %}
                                        <div class="client-avatar"><img src="{{servidor.foto.url}}" alt="..."
                                                                        class="img-fluid rounded-circle img-thumbnail"
                                                                        style="
                                                                    height:200px;
                                                                    width:auto;
                                                                    border-radius: 10px 70px !important;">
                                        </div>
                                        {% endif %}
                                            <hr>
                                        <div class="client-title">
                                            <h3> {{servidor.nome}} {{servidor.sobrenome}}</h3>
                                            <p>{{servidor.categoria}}</p>
                                            {% if servidor.cargo == None %}
                                            <span>Área: {{servidor.area}} </span>
                                            {% else %}
                                            <span>{{servidor.cargo}} </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="col col-xs-12 col-sm-7 col-md-8 col-lg-9  order-sm-first">
                                    <div class="form-group">
                                        <label class="form-control-label">SIAPE</label>
                                        <p>
                                            {{servidor.siape}}
                                        </p>
                                    </div>

                                    <div class="form-group">
                                        <label class=" form-control-label">Nome</label>
                                        <p>
                                            {{servidor.nome}} {{servidor.sobrenome}}
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Data Nascimento</label>
                                        <p>
                                            {{servidor.data_nasc}}
                                        </p>
                                    </div>

                                    <div class="form-group">
                                        <label class=" form-control-label">Sexo</label>
                                        <p>
                                            {{servidor.get_sexo_display}}
                                        </p>
                                    </div>

                                    <div class="form-group">
                                        <label class=" form-control-label">Tipo Sanguineo</label>
                                        <p>
                                            {{servidor.get_tipo_sanguineo_display}}
                                        </p>
                                    </div>

                                    <div class="form-group">
                                        <label class=" form-control-label">E-mail</label>
                                        <p>
                                            {{servidor.email}}
                                        </p>
                                    </div>

                                    <div class="form-group">
                                        <label class=" form-control-label">Naturalidade</label>
                                        <p>
                                            {{servidor.naturalidade}}
                                        </p>
                                    </div>

                                      <div class="form-group">
                                        <label class=" form-control-label">Campus</label>
                                        <p>
                                            {{servidor.campus}}
                                        </p>
                                    </div>

                                    <div class="form-group">
                                        <label class=" form-control-label">Data de Exercício</label>
                                        <p>
                                            {{servidor.data_exercicio}}
                                        </p>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="form-control-label">Tempo de Serviço</label>-->
                                        <!--<p> {{servidor.tempo_servico }}</p>-->
                                    <!--</div>-->


                                    <div class="form-group">
                                        <div>
                                            <a href="{% url 'lista-servidores' %}" class="btn btn-secondary">Voltar</a>

                                            <a class="btn btn-primary" href="{% url 'servidor-update' servidor.id %}">
                                                <i class="far fa-edit"></i>Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock%}