{% extends 'cabecalho.html' %}
{% load bootstrap %}


{% block title %}Simple GP|Cadastro Servidor{% endblock %}

{% block titulo %}Servidores{% endblock %}

{% block main %}

<!-- Form Elements -->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i>
                            </button>
                            <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a
                                    href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a
                                    href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Cadastro Novo Servidor</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">

                                <div class="line"></div>
                                <div class="form-group">
                                    {{form.categoria | bootstrap}}
                                </div>
                                <div class="form-group">

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <!--<label class="form-control-label">Nível</label>-->
                                        {{form.siape | bootstrap}}
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <!--<label class="form-control-label">Nível</label>-->
                                        {{form.nome | bootstrap}}
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <!--<label class="form-control-label">Nível</label>-->
                                        {{form.sobrenome | bootstrap}}
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="control-label  " for="id_data_nasc">Data de Nascimento</label>
                                        <input type="date" name="data_nasc" class=" form-control" required="" id="id_data_nasc">                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <!--<label class="form-control-label">Nível</label>-->
                                        {{form.sexo | bootstrap}}
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <!--<label class="form-control-label">Nível</label>-->
                                        {{form.tipo_sanguineo | bootstrap}}
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <!--<label class="form-control-label">Nível</label>-->
                                        <label class="control-label  " for="id_email">E-mail</label>
                                        <input type="email" name="email" placeholder="Exemplo: maria@email.com" maxlength="254" class=" form-control" required="" id="id_email">
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        {{form.naturalidade | bootstrap}}
                                    </div>

                                    <div id="input-cargo">
                                        <div class="line"></div>
                                        <div class="form-group">
                                            {{form.cargo | bootstrap}}
                                        </div>
                                    </div>

                                    <div id="input-area">
                                        <div class="line"></div>
                                        <div class="form-group">
                                            {{form.area | bootstrap}}
                                        </div>
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="control-label  " for="id_data_exercicio">Data de Exercício</label>
                                        <input type="date" name="data_exercicio" class=" form-control" required="" id="id_data_exercicio">                                    </div>
                                </div>

                                <div class="line"></div>
                                <div class="form-group">
                                    <!--<label class="form-control-label">Nível</label>-->
                                    {{form.campus | bootstrap}}
                                </div>

                                <div class="line"></div>
                                <div class="form-group">
                                    {{form.foto | bootstrap}}
                                </div>


                                <a href="{% url 'lista-servidores' %}" class="btn btn-secondary">Cancelar</a>

                                <button type="submit" class="btn btn-primary" value="Save">Salvar</button>


                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}

<script>
$(document).ready(function() {

    var inputArea = $("#input-area");
    var inputCargo = $("#input-cargo");

    $("#id_categoria").on('change', function(evt) {
        var categoriaSelecionada = $(this).val();

        switch(categoriaSelecionada) {
            case "TAE":
                inputCargo.show();
                inputArea.hide();
                break;

            case "PROF_S":
            case "DOC":
                inputCargo.hide();
                inputArea.show();
                break;

            default:
                inputCargo.show();
                inputArea.show();
        }

    });

});
</script>
{% endblock %}
